<h1 class="mt-3 ms-3">Pipes</h1>
<hr>
<div class="row">
  <div class="col">
    <table class="table">
      <thead class="table-dark">
        <tr>
          <th>Variable</th>
          <th>Pipe</th>
          <th>Salida</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>{{ name }}</th>
          <th>uppercase</th>
          <th>{{ name | uppercase }}</th>
        </tr>

        <tr>
          <th>{{ name }}</th>
          <th>lowercase</th>
          <th>{{ name | lowercase }}</th>
        </tr>

        <tr>
          <th>{{ name }}</th>
          <th>slice: 3</th>
          <th>{{ name | slice: 3 }}</th>
        </tr>

        <tr>
          <th>{{ array }}</th>
          <th>slice:1:5</th>
          <th>{{ array | slice:1:5 }}</th>
        </tr>

        <tr>
          <th>{{ PI }}</th>
          <th>number</th>
          <th>{{ PI | number }}</th>
        </tr>

        <tr>
          <th>{{ PI }}</th>
          <th>number: '1.0-0'</th>
          <th>{{ PI | number: '1.0-0' }}</th>
        </tr>

        <tr>
          <th>{{ PI }}</th>
          <th>number: '3.0-0'</th>
          <th>{{ PI | number: '3.0-0' }}</th>
        </tr>

        <tr>
          <th>{{ PI }}</th>
          <th>number: '.0-2'</th>
          <th>{{ PI | number: '.0-2' }}</th>
        </tr>

        <tr>
          <th>{{ percentage }}</th>
          <th>percent</th>
          <th>{{ percentage | percent }}</th>
        </tr>

        <tr>
          <th>{{ percentage }}</th>
          <th>percent: '2.2-2'</th>
          <th>{{ percentage | percent: '2.2-2' }}</th>
        </tr>

        <tr>
          <th>{{ salary }}</th>
          <th>currency</th>
          <th>{{ salary | currency }}</th>
        </tr>

        <!-- Códigos ISO (?????? -->
        <tr>
          <th>{{ salary }}</th>
          <th>currency:'EUR'</th>
          <th>{{ salary | currency:'EUR' }}</th>
        </tr>

        <tr>
          <th>{{ salary }}</th>
          <th>currency:'EUR'</th>
          <th>{{ salary | currency:'EUR' }}</th>
        </tr>

        <tr>
          <th>{{ superhero }}</th>
          <th>json</th>
          <th>{{ superhero | json }}</th>
        </tr>

        <tr>
          <th>{{ promise }}</th>
          <th>async</th>
          <th>{{ promise | async }}</th>
        </tr>

        <!-- https://angular.io/api/common/DatePipe -->
        <tr>
          <th>{{ date }}</th>
          <th>date</th>
          <th>{{ date | date }}</th>
        </tr>

        <tr>
          <th>{{ date }}</th>
          <th>date: 'medium'</th>
          <th>{{ date | date: 'medium' }}</th>
        </tr>
        
        <tr>
          <th>{{ date }}</th>
          <th>date: 'short'</th>
          <th>{{ date | date: 'short' }}</th>
        </tr>

        <tr>
          <th>{{ date }}</th>
          <th>date: 'MMMM yy'</th>
          <th>{{ date | date: 'MMMM - yy' }}</th>
        </tr>

        <tr>
          <th>{{ date }}</th>
          <th>date: 'MMMM yy'</th>
          <th>
            {{ date | date: 'MMMM - yy':'':language }}
            <br>
            <button (click)="language= 'es'" class="btn btn-primary">Español</button>
            <button (click)="language= 'en'" class="btn btn-danger">Inglés</button>
            <button (click)="language= 'fr'" class="btn btn-secondary">Frances</button>
          </th>
        </tr>
      </tbody>
    </table>
  </div>
</div>